html,
body {
    margin: 0;
    padding: 0
}

body {
    font: 76% arial, sans-serif
}

p {
    margin: 0 10px 10px
}

a {
    padding: 5px;
    text-decoration: none;
    color: #000000;
}

div#header h1 {
    height: 100px;
    line-height: 80px;
    margin-bottom: 20px;
    padding-left: 130px;
    padding-top: 15px;
    font-size: 30px;
}


.edit_btn {
    float: right;
    margin: 0 10% 0 0;
    width: 40%;
    text-align: right;
}

.modify_btn {
    display: inline-block;
}

.delete_btn {
    display: inline-block;
}

div#myimg p {
    line-height: 1.4
}

img {
    width: 500px;
    height: 550px;
    object-fit: cover;
}

div#profile {
    float: right;
    width: 40%;
    height: 550px;
    margin: auto 10% 10% 1%;
    position: relative;
}

#selfi {
    position: absolute;
    bottom: -10px;
}

div#profile div {
    margin: 30px 10px 20px 10px;
}

#role {
    color: rgb(140, 140, 140);
    font-size: 17px;
}

#name {
    font-size: 40px;
    margin-top: -13px;
}

#mbti {
    font-size: 17px;
    margin-top: 40px;
}

#pr {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
}

#tmi {
    font-size: 15px;
    color: rgb(140, 140, 140);
}

div#wrapper {
    float: left;
    width: 500px;
    margin-left: 10%;
    margin-right: 1%;
    margin-bottom: 5%;
}


div#footer {
    clear: both;
    width: 100%
}

div#footer {
    background: #BFBD93;
}

div#footer p {
    margin: 0;
    padding: 5px 10px
}