<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>우리 아이들</title>
</head>

<body>
    <div class="title">
        <h1>우리 아이들</h1>
        <!--실시간 서울의 온도,날씨-->
        <div>
            <h4>실시간 서울의 체감온도: <span id="temp"></span>도</h4>
        </div>
        <div>
            <h4>실시간 서울의 날씨: <span id="weather"></span></h4>
        </div>
    </div><br>
    <div class="team_title">팀소개</div><br>
    <div class="clearfix team_detail">
        <img src="https://cdn.discordapp.com/attachments/801861358538588173/1085000010741063751/image.png"
            class="col-md-6 float-md-end mb-3 ms-md-3" alt="우리 아이들 단체사진">
        <p class="row_space">
            안녕하세요 저희는 mbti 앞부분이 i로만 이루어진 A-5조 입니다.<br>
            관심사가 반려동물인 사람들이 자기소개를 주제로 미니프로젝트를 만들게 되었는데요.<br>
            각각 취미도 다르고 좋아하는 것들도 다르지만 개발에 관한 얘기만 나오면 밝아지는 우리 아이들 많은 관심 부탁드립니다. (적당히 부탁드립니다.)
        </p>
    </div>
    <br><br><br>
    <hr><br><br><br>
    <div class="team_title">팀 규칙</div><br>
    <div class="team_detail">
        <div class="team_card">
            <div class="row row-cols-1 row-cols-md-3 team_detail" id="teamrule-wrap">
                <div class="col">
                    <div class="team_rule" id="role_1">점심시간: 12:00~13:00</div>
                </div>
                <div class="col">
                    <div class="team_rule" id="role_2">저녁시간: 18:00~19:00</div>
                </div>
                <div class="col">
                    <div class="team_rule" id="role_3">문제가 있으면 공유하기</div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <hr><br><br><br>
    <div class="team_title" id="team_intro">팀원 소개</div>
    <div class="add_btn">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            onclick=move() data-bs-whatever="@mdo">
            <h3>함께하기</h3>
        </button><br><br>
    </div>
    <br><br>
    </div><br>
    <div class="team_card">
        <div class="row row-cols-1 row-cols-md-5 g-4" id="cards-box">
            <!-- 팀카드 추가되는 부분에서, 반응형 적용을 못하여 사진의 크기가 줄어들지 않는 현상 발생
                 이후에 추가 작업이 필요함 -->
        </div>
    </div>
    <br><br><br><br>
    <div id="detail_box">
        <!-- 팀카드 클릭시 나오는 프로필 상세, 여기도 반응형 구현을 못해 창이 줄어들 시, 
             프로필 오른쪽의 줄글들이 사진 밑으로 내려가는 현상이 발생함 -->
    </div>
    <div class="footer">
        <div class="footer_title">
            | 우리 아이들 미니 프로젝트 |
            <div class="footer_detail">내일배움캠프 5기</div>
            <div class="footer_detail">AI 트랙 과정의 첫 프로젝트</div>
        </div>
        <div class="footer_team">
            <a href="https://allitail.tistory.com/" target="_blank">원윤희</a><br>
            <a href="https://velog.io/@posei0418" target="_blank">방현재</a><br>
            <a href="https://hr1998.tistory.com" target="_blank">박혜린</a><br>
            <a href="https://velog.io/@nmkk1234" target="_blank">김혁준</a><br>
            <a href="https://air-jinny.tistory.com/" target="_blank">김경진</a>
        </div>
    </div>
</body>

</html>