<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>우리 아이들</title>
</head>

<body>
    <div class="title">
        <h1>우리 아이들</h1>
        <div>
            <h4>실시간 서울의 체감온도: <span id="temp"></span>도</h4>
        </div>
        <div>
            <h4>실시간 서울의 날씨: <span id="weather"></span></h4>
        </div>
    </div>
    <div class="team_title">팀소개</div><br>
    <div class="clearfix team_detail">
        <img src="https://cdn.discordapp.com/attachments/801861358538588173/1085000010741063751/image.png"
            class="col-md-6 float-md-end mb-3 ms-md-3" alt="우리 아이들 단체사진">

        <p class="row_space">
            안녕하세요 저희는 mbti 앞부분이 i로만 이루어진 A-5조 입니다.<br>
            관심사가 반려동물인 사람들이 자기소개를 주제로 미니프로젝트를 만들게 되었는데요.<br>
            각각 취미도 다르고 좋아하는 것들도 다르지만 개발에 관한 얘기만 나오면 밝아지는 우리 아이들 많은 관심 부탁드립니다. (적당히 부탁드립니다.)
        </p>
    </div>

    <br><br>
    <hr><br><br>

    <div class="team_title">팀 규칙</div><br>
    <div class="team_detail">
        <div class="team_card">
            <div class="row row-cols-1 row-cols-md-3 team_detail">
                <div class="col">
                    <div class="team_rule" id="role_1">점심시간: 12:00~13:00</div>
                </div>
                <div class="col">
                    <div class="team_rule" id="role_2">저녁시간: 18:00~19:00</div>
                </div>
                <div class="col">
                    <div class="team_rule" id="role_3">문제가 있으면 공유하기</div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr><br><br>
    <div class="add_btn">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">
            <h3>함께하기</h3>
        </button>
    </div>
    <div class="team_title">팀원 소개</div>
    <br><br>
    <div class="add_team">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="form-div" id="form">
                        <div class="modal-title">
                            <br>
                            <h2 style="text-align:center;">프로필 작성하기</h2>
                            <hr>
                        </div>
                        <br>
                        <form action="index.html">
                            <input type="text" class="form-control" id="modal_img" placeholder="이미지 URL을 넣어주세요."><br>
                            <input type="text" class="form-control" id="modal_name" placeholder="이름"><br>
                            <input type="text" class="form-control" id="modal_role" placeholder="역할"><br>
                            <input type="text" class="form-control" id="modal_mbti" placeholder="MBTI"><br>
                            <textarea class="form-control" placeholder="자기소개" id="modal_selfid" style="height: 100px"></textarea><br>
                            <input type="text" class="form-control" id="modal_tmi" placeholder="TMI"><br><br>
                            <div class="mybtns" style=" margin: 0 10px 20px; float: right;">
                                <button onclick="save_members()" type="button" class="btn btn-light">
                                    <h4>작성하기</h4>
                                </button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                    <h4>닫기</h4>
                                </button>
                            </div>
                        </form>
                        <!-- <div class="form-floating mb-3" id="form-rabel">
                            <input type="text" class="form-control" id="modal_img" placeholder="이미지 넣는 칸">
                            <label for="floatingInput">이미지 URL을 넣어주세요.</label>
                        </div>
                        <div class="form-floating mb-3" id="form-rabel">
                            <input type="text" class="form-control" id="modal_name" placeholder="이름을 입력하세요.">
                            <label for="floatingInput">이름</label>
                        </div>
                        <div class="form-floating mb-3" id="form-rabel">
                            <input type="text" class="form-control" id="modal_role" placeholder="역할을 입력하세요.">
                            <label for="floatingInput">역할</label>
                        </div>
                        <div class="form-floating mb-3" id="form-rabel">
                            <input type="text" class="form-control" id="modal_mbti" placeholder="MBTI를 입력하세요.">
                            <label for="floatingInput">MBTI</label>
                        </div>
                        <div class="form-floating mb-3" id="form-rabel">
                            <textarea class="form-control" placeholder="자기소개를 입력해보세요." id="modal_selfid"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2">자기소개</label>
                        </div>
                        <div class="form-floating mb-3" id="form-rabel">
                            <input type="text" class="form-control" id="modal_tmi" placeholder="TMI를 입력해보세요.">
                            <label for="floatingInput">TMI</label>
                        </div>
                        <br>
                        <div class="mybtns" style=" margin: 0 10px 20px; float: right;">
                            <button onclick="save_members()" type="button" class="btn btn-light">
                                <h4>작성하기</h4>
                            </button>
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                <h4>닫기</h4>
                            </button>
                        </div>-->
                    </div> 
                </div>
            </div>
        </div>
        <br>
    </div>
    </div>
    <div class="team_detail">
        <div class="team_card">
            <form class="row row-cols-1 row-cols-md-5 g-4" id="card_list" method="post" action="detail.html">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://cdn.discordapp.com/attachments/801861358538588173/1085019409615167548/image.png"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">김경진</p>
                            <h5 class="card-text">여기에 역할</h5>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div> 
    
    <br><br>
    <div class="footer">
        <div class="footer_title">
            | 우리 아이들 미니 프로젝트 |
            <div class="footer_detail">내일배움캠프 5기</div>
            <div class="footer_detail">AI 트랙 과정의 첫 프로젝트</div>
        </div>
        <div class="footer_team">
            <a href="https://allitail.tistory.com/">원윤희</a><br>
            <a href="https://velog.io/@posei0418">방현재</a><br>
            <a href="https://hr1998.tistory.com">박혜린</a><br>
            <a href="https://velog.io/@nmkk1234">김혁준</a><br>
            <a href="https://air-jinny.tistory.com/">김경진</a>
        </div>
    </div>
</body>

</html>